@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Lato", serif;
  font-weight: 600;
  

}
@layer utilities{
  .input-style{
    @apply flex rounded-[24px]  border-[0.5px] bg-white border-[#D0D0D4]
  }
  .row-header {
    @apply uppercase text-base text-grey-200 font-bold
  }
  .table-text{
    @apply text-base text-[#493452] font-semibold
  }
}
.PhoneInputInput {
  outline: none;
  background: transparent;
  color: #7D7D80 !important;
  
}

.PhoneInputInput::placeholder {
  color: #7D7D80 !important;
}

.PhoneInputCountryIconImg{
  border-radius: 20px !important;
  object-fit: cover;
}

.PhoneInputCountryIcon ,.PhoneInputCountryIcon--border{
  border-radius: 24px !important;
  border: none !important;
}